<!DOCTYPE HTML>
<html>
<head>
<title>Admin</title>
</head>
<body>
<h2>Tes Payments</h2>
<form action="{{ url_for('buy', values = productId) }}" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ pub_key }}"
    data-amount="{{ price }}"
    data-name="{{ name }}"
    data-description="{{ description }}"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
</body>
</html>
